* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 100%);
}




.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 8%);
    width: 100%;
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    background-color: hsl(0, 0%, 12%);
    padding: 15px;
    border-radius: 5px;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.profile-container_imageContainer {
    overflow: hidden;
    width: 100%;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-container_imageContainer img {
    border-radius: 50%;
    width:70%;
    vertical-align: middle;
}


.profileName {
    font-size: 20px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

.ProfileLocation {
    font-size: 14px;
    font-weight: 400;
    color: hsl(75, 94%, 57%);
}

.profileDescription {
    font-size: 14px;
    font-weight: 300;
    color: hsl(0, 0%, 100%);
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    width: 100%;
}

.link-container ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.link-container ul li a {
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    padding: 18px;
    background-color: black;
    font-weight: 800;
    font-family: inherit;
    border-radius: 5px;
    background-color: hsl(0, 0%, 20%);
    cursor: pointer;
    transition: all ease in-out .5s;

}

.link-container ul li a:hover {
    background-color: hsl(75, 94%, 57%);
    color: black ;
}

.link-container ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;


}

svg{
width: 20px;
font-size: 20px;
color: white;

}


.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}